#header{
  text-align: center;
  font-size: 40px;
}

.header1{
  text-align: center;
  font-size: 30px;
}

.header2{
  text-align: center;
}

.oppo{
  display: block;
  margin: 0 auto;
  width: 30px;
}
